* {
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: black;
color: white;
font-family: 'Oswald', sans-serif;
}

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2 {
    display: flex;
        justify-content: center;
        padding: 10px;
        text-align:center;
}

/* HEADER */

header {
display: flex;
justify-content: center;
}

/* MAIN */
main{
    flex: 1 0 auto;
}

/*Home page*/

#homenav {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
font-size: 150%;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
}

.dropdown:hover .dropdown-options {
    display: block;
}

/*About us page*/
#about-us-content {
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    font-size: 150%;
}

/*Past shows page*/
#saintssinners img {
    width: 100%;
    line-height: 0;
}

#pastshows {
    margin-top: 30px;
}

/*Current shows page*/

#zombie-apocalypse {
        padding: 10px;
        text-align: center;
        font-size: 150%;
}

.zombiepics {
    text-align: center;
    padding: 10px;
}

#zombie2 {
    width: 100%;
    column count: 1;
}

/*Future shows*/


/* FOOTER */

/*Social media on home page*/
#socials {
    font-size: 200%;
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
}

/*Navigation buttons*/
.nav {
display: flex;
justify-content: center;
}

button.navigation {
    background-color: slategray;
}

/*Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #saintssinners {
        column-count:2;
    }
}

/*Media query: tablets (768px and up) */
@media screen and (min-width: 768px) {
    #saintssinners {
        column-count: 3;
        column-gap: 0;
    }
}
