* {
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: black;
color: white;
font-family: 'Oswald', sans-serif;
}

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
display: flex;
justify-content: center;
}

/* MAIN */
main{
    flex: 1 0 auto;
}

/* FOOTER */